<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles1.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>OCFR Project</title>
  </head>
  <body>
  <nav class= "indexNav">
    <section class="bottom">
      <a href="index.html">Home</a>
      <a href="members.html">Members</a>
      <a href="certifications.html">Certifications</a>
      <div class="dropdown">
        <button class="dropbtn">Reports</button>
        <div class="dropdown-content">
          <a class="repLink" href="reports.html">Report 1</a>
          <a class="repLink" href="#">Anotha Report</a>
        </div>
      </div>
    </section>
  </nav>

<div id="certapp">
  <h3>List of All Certifications</h3>
  <div class="patientCard" v-for="c in certList" v-on:click="activeCert = c">
    <span class="agency">Certification Agency: {{ c.agency }}</span>
    <br>
    <span class="certificationName">Certification Name: {{ c.certificationName }}</span>
    <br>
    <span class="expDate">Expiration Period: {{ c.expDate }}</span>
    <br>
  </div>
          <!-- <div id="cardPaneLeft" class="col cardPane cardPaneLeft"> -->

  <!-- <div class="certification"> -->
  <form method="post" v-on:submit.prevent="createCert()">
      <h3>Add Certification</h3>
        <div class="certification">
    <div class="form-group">
      <label for="agency">Certification Agency</label><br>
      <input type="text" v-model="newCertForm.agency" class="form-control" id="agency" placeholder="American Red Cross"><br>
    </div>

    <div class="form-group">
      <label for="certificationName">Certification Name</label><br>
      <input type="text" v-model="newCertForm.certificationName" class="form-control" id="certificationName" placeholder="CPR"><br>
    </div>

    <div class="form-group">
      <label for="expDate">Expiration Period</label>
      <input type="text" v-model="newCertForm.expDate" class="form-control" id="expDate" placeholder="2 years">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
        </div>
        </div><br>
        <div>
          <h3>Delete Certification</h3>
          <form method="post" v-on:submit.prevent="deleteCert">
            <label for="certificationID">Certification ID</label>
            <input type="integer" id="certificationID" name="certificationID" v-model="deleteCertForm.certificationID" required></input><br>
            <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> -->
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </div><br>
        <div>
          <h3>Edit Certification</h3>
          <form method="post" v-on:submit.prevent="editCert">
            <label for="certificationID">Certification ID</label>
            <input type="integer" id="certificationID" name="certificationID" v-model="editCertForm.certificationID" required></input><br>
            <label for="agency">Certification Agency</label>
            <input type="text" id="agency" name="agency" v-model="editCertForm.agency" required></input><br>
            <label for="certificationName">Certification Name</label>
            <input type="text" id="certificationName" name="certificationName" v-model="editCertForm.certificationName" required></input><br>
            <label for="certificationID">Expiration Date</label>
            <input type="integer" id="expDate" name="expDate" v-model="editCertForm.expDate" required></input><br>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
</div>
        <br>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/certifications.app.js"></script>
  </body>
</html>
