<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>OCFR Project</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">OCFR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="members.html">Members<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="certifications.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reports.html">Reports</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div id="cardPaneLeft">
            <form method="post" v-on:submit.prevent="createUser()">
              <h3>Add New Member Record PLEASE</h3>

              <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" v-model="newPtForm.fname" class="form-control" placeholder="Tom">
            </div>

            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" v-model="newPtForm.lname" class="form-control" placeholder="Gregory">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" v-model="newPtForm.address" class="form-control" placeholder="123 ABC Street">
            </div>

            <div class="form-group">
              <label for="mobilePhone">Mobile Phone</label>
              <input type="text" v-model="newPtForm.mobilePhone" class="form-control" placeholder="(123) 456-7890">
            </div>

            <div class="form-group">
              <label for="workPhone">Work Phone</label>
              <input type="text" v-model="newPtForm.workPhone" class="form-control"  placeholder="(890) 123-4567">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" v-model="newPtForm.email" class="form-control" placeholder="tomgreg1@yahoo.com">
            </div>

            <div class="form-group">
              <label for="position">Position</label>
              <input type="text" v-model="newPtForm.position" class="form-control" placeholder="EMT">
            </div>

            <div class="form-group">
              <label for="radioNum">Radio Number</label>
              <input type="text" v-model="newPtForm.radioNum" class="form-control" placeholder="B18">
            </div>

            <div class="form-group">
              <label for="stationNum">Station Number</label>
              <input type="text" v-model="newPtForm.stationNum" class="form-control"  placeholder="4">
            </div>

            <div class="form-group">
              <label for="dob">DOB</label>
              <input type="text" v-model="newPtForm.dob" class="form-control" placeholder="2010-01-02">
            </div>

            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="text" v-model="newPtForm.startDate" class="form-control" placeholder="2020-01-02">
            </div>

            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" v-model="newPtForm.gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other/Unknown</option>
              </select>
            </div>

            <div class="form-group">
              <label for="active">Active?</label>
              <select class="form-control" v-model="newPtForm.active" >
                <option value="active">Active</option>
                <option value="notActive">Not Active</option>
              </select>
            </div>

            <div class="form-group">
              <label for="certifications">Certifications</label>
              <input type="text" v-model="newPtForm.certifications" class="form-control" placeholder="Paramedic">
            </div>

  </form>

            <!-- <button v-on:click="createUser()">Create User</button> -->
<!-- <button v-on:click="createUser()">click me</button> -->

            <h3>List of All Members</h3>

            <div class="patientCard" v-for="pt in ptList" v-on:click="activePt = pt">
              <span class="fname">First Name: {{ pt.fname }}</span>
              <span class="lname">Last Name: {{ pt.lname }}</span>
              <span class="address">Address: {{ pt.address }}</span>
              <span class="mobilePhone">mobile: {{ pt.mobilePhone }}</span>
              <span class="workPhone">work: {{ pt.workPhone }}</span>
              <span class="email">email: {{ pt.email }}</span>
              <span class="position">position: {{ pt.position }}</span>
              <span class="radioNum">radio number: {{ pt.radioNum }}</span>
              <span class="stationNum">station: {{ pt.stationNum }}</span>
              <span class="dob">DOB: {{ pt.dob }}</span>
              <span class="startDate">Start Date: {{ pt.startDate }}</span>
              <span class="gender">Gender: {{ pt.gender }}</span>
              <span class="active">Active: {{ pt.active }}</span>
              <span class="certifications">Certifications: {{ pt.certifications }}</span>
            </div>
</div></div></div>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/members.app.js"></script>
  </body>
</html>
