<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles1.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>OCFR Project</title>
  </head>
  <body>
    <nav class= "indexNav">

  <section class="bottom">
    <a href="index.html">Home</a>
    <a href="members.html">Members</a>
    <a href="certifications.html">Certifications</a>
    <div class="dropdown">
      <button class="dropbtn">Reports</button>
      <div class="dropdown-content">
        <a class="repLink" href="reports.html">Report 1</a>
        <a class="repLink" href="#">Anotha Report</a>

      </div>
    </div>
  </section>
    </nav>

    <div class="container-fluid">
        <div class="row">

<!-- v-on:submit.prevent="createUser()" -->

          <div id="cardPaneLeft">
            <h3>List of All Members</h3>
            <div class="patientCard" v-for="pt in ptList" v-on:click="activePt = pt">
              <span class="fname">First Name: {{ pt.fname }}</span>
              <span class="lname">Last Name: {{ pt.lname }}</span>
              <span class="address">Address: {{ pt.address }}</span>
              <span class="mobilePhone">mobile: {{ pt.mobilePhone }}</span>
              <span class="workPhone">work: {{ pt.workPhone }}</span>
              <span class="email">email: {{ pt.email }}</span>
              <span class="position">position: {{ pt.position }}</span>
              <span class="radioNum">radio number: {{ pt.radioNum }}</span>
              <span class="stationNum">station: {{ pt.stationNum }}</span>
              <span class="dob">DOB: {{ pt.dob }}</span>
              <span class="startDate">Start Date: {{ pt.startDate }}</span>
              <span class="gender">Gender: {{ pt.gender }}</span>
              <span class="active">Active: {{ pt.active }}</span>
              <span class="Members">Members: {{ pt.Members }}</span>
            </div>
            <form method="post" v-on:submit.prevent="createUser()">
              <h3>Add New Member Record</h3>
              <div class="person">

            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" v-model="newPtForm.fname" class="form-control" id="UserFirstName" placeholder="Tom">
            </div>

            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" v-model="newPtForm.lname" class="form-control" id="lname" placeholder="Gregory">
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" v-model="newPtForm.address" class="form-control" id="address" placeholder="123 ABC Street">
            </div>

            <div class="form-group">
              <label for="mobilePhone">Mobile Phone</label>
              <input type="text" v-model="newPtForm.mobilePhone" class="form-control" id="mobilePhone" placeholder="(123) 456-7890">
            </div>

            <div class="form-group">
              <label for="workPhone">Work Phone</label>
              <input type="text" v-model="newPtForm.workPhone" class="form-control" id="workPhone" placeholder="(890) 123-4567">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" v-model="newPtForm.email" class="form-control" id="email" placeholder="tomgreg1@yahoo.com">
            </div>

            <div class="form-group">
              <label for="position">Position</label>
              <input type="text" v-model="newPtForm.position" class="form-control" id="position" placeholder="EMT">
            </div>

            <div class="form-group">
              <label for="radioNum">Radio Number</label>
              <input type="text" v-model="newPtForm.radioNum" class="form-control" id="radioNum" placeholder="B18">
            </div>

            <div class="form-group">
              <label for="stationNum">Station Number</label>
              <input type="text" v-model="newPtForm.stationNum" class="form-control"  id="sationNum" placeholder="4">
            </div>

            <div class="form-group">
              <label for="dob">DOB</label>
              <input type="text" v-model="newPtForm.dob" class="form-control" id="dob" placeholder="2010-01-02">
            </div>

            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="text" v-model="newPtForm.startDate" class="form-control" id="startDate" placeholder="2020-01-02">
            </div>

            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" v-model="newPtForm.gender" id="gender" >
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other/Unknown</option>
              </select>
            </div>

            <div class="form-group">
              <label for="active">Active?</label>
              <select class="form-control" v-model="newPtForm.active" id="active" >
                <option value="active">Active</option>
                <option value="notActive">Not Active</option>
              </select>
            </div>

            <div class="form-group">
              <label for="Members">Members</label>
              <input type="text" v-model="newPtForm.Members" class="form-control" id="Members" placeholder="Paramedic">
            </div>

          <input type="submit" value="Create User" class="button">
  </form>
  </div>


          <div>
              <h3>Delete Member</h3>
              <form method="post" v-on:submit.prevent="deletePt()">
                <label for="empID">Employee ID</label>
                <input type="integer" id="empID" name="empID" v-model="deletePtForm.empID" required></input><br>
                <button type="submit" class="btn btn-primary">Delete</button>
              </form>
            </div><br>
            <div>
              <!-- <h3>Edit Member</h3>
              <form method="post" v-on:submit.prevent="editPt()">
                <label for="empID">Member ID</label>
                <input type="integer" id="empID" name="empID" v-model="editPtForm.empID" required></input><br>
                <label for="agency">Member Agency</label>
                <input type="text" id="agency" name="agency" v-model="editPtForm.agency" required></input><br>
                <label for="MemberName">Member Name</label>
                <input type="text" id="MemberName" name="MemberName" v-model="editPtForm.MemberName" required></input><br>
                <label for="empID">Expiration Date</label>
                <input type="integer" id="expDate" name="expDate" v-model="editPtForm.expDate" required></input><br>
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div> -->

</div></div>
</div>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/members.app.js"></script>
  </body>
</html>
