
.indexHead {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding-top:10px;
    padding-bottom:5px;
}

nav {
    background-color: #faeed4;
    padding-left:50px;
    padding-right:20px;
    padding-top:30px;
    padding-bottom:30px;
    border-bottom: 5px solid #2874A6;
    margin: 10px;
}

nav .rightSide {
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
}

nav .bottom {
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav .logo {
    width:175px;
    height:175px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

nav .logo:hover{
    width:175px;
    height:175px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    border-radius:50%;
    opacity:75%;
}

.bottom .repLink {
    text-decoration:none;
    color: #2874A6;
    font-size:18px;
    font-family: 'Viga', sans-serif;
}

.bottom a {
    text-decoration:none;
    color:#2874A6;
    font-size: 22px;
    font-family: 'Viga', sans-serif;
    padding: 5px;
    margin: 10px;
}

nav a:hover {
color:#A6A6A6;
}

nav p {
    color: #2874A6;
    font-size:18px;
}

nav img {
    margin-right: 3px;
    width:50px;
    height:50px;
}
/* Index Nav */
.indexNav .navsign{
    font-size: 18px;
    font-family: 'Viga', sans-serif;
    color: #2874A6;
    text-decoration: none;
    margin-left: 15px;
}

.navsign:hover {
    color:#A6A6A6;
}

.indexNav .cal {
    width:30px;
    height:30px;
}

.indexNav .cal:hover {
    width:30px;
    height:30px;
    opacity:75%;
}

/* Dropdown */
.dropbtn {
    color: #2874A6;
    font-size: 22px;
    font-family: 'Viga', sans-serif;
    background-color:transparent;
    margin-right:15px;
    margin-left:15px;
    border:none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    color:#A6A6A6;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Header */
header {
    background-color: #A6A6A6;
    display:flex;
    justify-content:flex-end;
    padding:10px;
}

header a {
    font-size: 18px;
    font-family: 'Viga', sans-serif;
    text-decoration: none;
    margin-right: 40px;
    color:white;
}

header a:hover {
    font-size: 18px;
    font-family: 'Viga', sans-serif;
    text-decoration: none;
    margin-right: 40px;
    color:#2874A6;
}

/* INDEX PAGE*/
.indexPage {
    background: url(../img/indexBackground.jpg) no-repeat center fixed;
}

.logo {
    width: 120px;
    height: 120px;
}

.logo:hover {
    width:120px;
    height:120px;
    opacity:90%;
}


.indexPage .none {
padding:30px;
width:65%;
margin-left:17.5%;
border-radius:30px;
background-color:#2874A6;
margin-top:100px;
margin-bottom:300px;
}

.colThis {
    display:flex;
    flex-direction:column;
}



.indexPage td {
    padding-top:10px;
    padding-bottom:10px;
}

.indexHead form {
    font-size: 16px;
    font-family: 'Viga', sans-serif;
    margin-right: 15px;
}

.indexHead select {
    font-size: 16px;
    font-family: 'Viga', sans-serif;
    margin-left: 5px;
    margin-right:5px;
    background-color:white;
}

.indexHead button {
    font-size: 16px;
    font-family: 'Viga', sans-serif;
    background-color:white;
    margin-top:-16px;
}

.indexHead input {
    background-color:white;
    font-size: 16px;
    font-family: 'Viga', sans-serif;
    margin-left: 10px;
}


/*Footer*/
footer .foot {
    width:100%;
    background-color: #faeed4;
    display:flex;
    flex-direction: row;
    padding-top:10px;
    padding-bottom:10px;
    justify-content:center;
}

footer h3 {
    font-family: 'Ramabhadra', sans-serif;
    font-size: 20px;
    margin-right:50px;
    color:#2874A6;
}

footer p {
    font-size: 20px;
    font-family: 'Ramabhadra', sans-serif;
    color:#2874A6;
}

footer p:hover {
    color: #A6A6A6;
}

footer a {
    font-family: 'Viga', sans-serif;;
    text-decoration: none;
}
